---
import { Image } from "@astrojs/image/components";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import TeamImg1 from "../assets/images/sukh.jpg";
import TeamImg2 from "../assets/images/aru.jpg";
import TeamImg3 from "../assets/images/3.jpg";
const team = [
    {
        name: "Sukhmender",
        title: "Founder",
        avatar: {
            src: TeamImg1,
            width: 467,
            height: 385,
        },
        description:
            "Seyom is the dreamchild of our founder Sukhmender, who is deeply passionate about automation and digital transformation. An MBA in finance, he is a visionary, who aims to help diverse companies harness the true power of data automation and thereafter enjoy the benefits of modern, efficient, and improved business processes.",
    },
    {
        name: "Aarushi Sukhdev",
        title: "Lead, Business Development",
        avatar: {
            src: TeamImg2,
            width: 554,
            height: 548,
        },
        description:
            "Aarushi is our dynamic and bubbly business development lead, who comes with over 15 years of experience in consulting and industry. Her “never say never” attitude has helped deliver measurable impact with our client teams as she works hand in hand with teams on the ground to ensure we deliver what was promised, and even more. Aarushi is a post graduate MBA in marketing",
    },
    {
        name: "Amit Bafna",
        title: "Technical Lead, Accounts",
        avatar: {
            src: TeamImg3,
            width: 687,
            height: 645,
        },
        description:
            "Amit, an accountant by profession has over 14 years of accounting experience for organizations such as Citibank, Publicis, Aegis and GVK India. Well versed with the entire gamut of accounting processes, he is a go getter, who works with our clients to seamlessly run outsourced accounting processes and supports the transition",
    },
];
---

<Layout title="Team">
    <Navbar />

    <div
        class="py-12 px-2 flex flex-col justify-center items-center bg-gradient-to-r from-primary to-secondary min-h-screen"
    >
        <div class="grow h-0 sm:h-32"></div>
        <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
            <h2 class="font-bold text-3xl text-violet-700">About us</h2>
            <p class="text-lg leading-relaxed text-slate-800">
                We like to innovate. We like to improve. And we do it with
                absolute dedication. Our team is experienced, diverse and eager
                to be thought partners in your digital transformation journey
            </p>
        </div>
        <div class="grid gap-10 mx-auto max-w-5xl mt-12">
            {
                team.map((item) => (
                    <div class="group md:flex-row flex-col flex">
                        <div class="w-full flex justify-center">
                            <div class="w-1/2 md:w-full aspect-square">
                                <Image
                                    {...item.avatar}
                                    format="avif"
                                    alt="Team"
                                    class="border-solid border-purple-900 border-2 w-full grayscale group-hover:grayscale-0 h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
                                />
                            </div>
                        </div>
                        <div class="mt-4 max-w-2xl text-center">
                            <h2 class="text-xl underline inline text-slate-800 group-hover:font-bold group-hover:text-violet-700">
                                {" "}
                                {item.name}
                            </h2>
                            <h3 class="pl-4 text-sm inline text-base-100 font-bold">
                                {" "}
                                <span class="badge bg-violet-700 text-white border-none">
                                    {item.title}
                                </span>
                            </h3>
                            <p class="text-lg text-start pl-4 text-gray-900">
                                {item.description}
                            </p>
                        </div>
                    </div>
                    <hr class="md:hidden border-purple-900" />
                ))
            }
        </div>
    </div>
</Layout>
