---
import ass from "../assets/images/undraw_business_deal_re_up4u.svg";
import aut from "../assets/images/undraw_data_report_re_p4so.svg";
import ele from "../assets/images/undraw_stepping_up_g6oo.svg";
import { Image } from "@astrojs/image/components";
---

<section
    class="min-h-screen flex bg-gradient-to-r from-purple-200 to-blue-200 items-center"
>
    <div
        class="prose-sm lg:prose-sm 2xl:prose-lg flex gap-4 xl:gap-10 xl:flex-row flex-col items-center xl:items-stretch xl:justify-around w-full px-10"
    >
        <div
            id="one"
            class="shadow-xl flex flex-col text-center w-5/6 xl:w-full rounded text-base-100 bg-gradient-to-br from-purple-300 to-blue-300 px-8"
        >
            <h2 class="text-violet-900 font-semibold">Associate</h2>
            <p class="grow">
                Associate with us to harness the power of data automation and
                analaytics to transform your business processes.
            </p>
            <Image
                src={ass}
                height={128}
                aspectRatio={758.67004 / 615.32637}
                alt="Associate"
                class="self-center"
            />
        </div>
        <div
            id="two"
            class="shadow-xl flex flex-col text-center w-5/6 xl:w-full rounded text-white bg-gradient-to-b from-purple-900 to-blue-900 rp px-8"
        >
            <h2 class="text-violet-100 font-semibold">Automate</h2>
            <p class="grow">
                Experience first hand the benefits of data warehousing,
                visualization and integration to drive faster decision making
                using real time predictive analytics.
            </p>
            <Image
                src={aut}
                height={128}
                aspectRatio={786.97931 / 590.64559}
                alt="Automate"
                class="self-center"
            />
        </div>
        <div
            id="three"
            class="shadow-xl flex flex-col text-center w-5/6 xl:w-full rounded text-base-100 bg-gradient-to-bl from-purple-300 to-blue-300 px-8"
        >
            <h2 class="text-violet-900 font-semibold">Elevate</h2>
            <p class="grow">
                Empower your people to go beyond traditional book keeping and
                analyst roles to thought partners, strategists and leaders who
                are capable of making sound business decisions using insights
                drawn from modern and efficient systems and processes.
            </p>
            <Image
                src={ele}
                height={128}
                aspectRatio={649.6753 / 516.23162}
                alt="Elevate"
                class="self-center"
            />
        </div>
    </div>
</section>
<style>
    .grow {
        transition: all 0.3s ease-in-out;
    }
    .grow:hover {
        transform: scale(1.1);
    }
</style>
<script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    const tl = gsap.timeline({
        scrollTrigger: {
            trigger: "#one",
            start: "top 80%",
            end: "bottom 20%",
            toggleActions: "play none none reverse",
        },
    });
    tl.from("#one", {
        opacity: 0,
        duration: 1,
        x: -200,
    });
    const tl2 = gsap.timeline({
        scrollTrigger: {
            trigger: "#two",
            start: "top 80%",
            end: "bottom 20%",
            toggleActions: "play none none reverse",
        },
    });
    tl2.from("#two", {
        opacity: 0,
        duration: 1,
        x: -200,
    });
    const tl3 = gsap.timeline({
        scrollTrigger: {
            trigger: "#three",
            start: "top 80%",
            end: "bottom 20%",
            toggleActions: "play none none reverse",
        },
    });
    tl3.from("#three", {
        opacity: 0,
        duration: 1,
        x: -200,
    });
</script>
