---
import { Picture } from "@astrojs/image/components";
import arrow from "../assets/images/7425.png";
---

<div
    class="py-12 px-2 flex flex-col justify-center items-center bg-gradient-to-r from-purple-200 to-blue-200 min-h-screen"
>
    <div class="grow h-0 sm:h-32"></div>

    <div
        class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
    >
        <div class="flex flex-col lg:flex-row md:mb-10">
            <div class="lg:w-1/2">
                <h2
                    class="max-w-md font-sans text-3xl font-bold tracking-tight text-violet-900 sm:text-4xl sm:leading-none xl:max-w-lg"
                >
                    Developing empowered leaders
                </h2>
            </div>
            <!-- <div class="lg:w-1/2">
                <p class="text-base text-gray-900 md:text-lg">
                    Service Suite: We realize that the transformation will
                    require significant upskilling for the workforce in order to
                    make it successful. In line with this we provide both
                    process and people development trainings.
                </p>
            </div> -->
        </div>
        <div class="lg:w-1/2 mb-12">
            <p class="text-base text-gray-900 md:text-lg">
                Service Suite: We realize that the transformation will require
                significant upskilling for the workforce in order to make it
                successful. In line with this we provide both process and people
                development trainings.
            </p>
        </div>
        <div class="grid gap-8 row-gap-10 sm:grid-cols-2 lg:grid-cols-3"></div>
        <h3 class="text-violet-500 text-2xl my-2 font-semibold">
            Seyom Advantage: Inclusive Growth
        </h3>
        <p class="text-base text-gray-900 mb-4 md:text-lg">
            We will follow a 3 phased process to get you insights useful for
            decision making
        </p>
        <ul class="flex flex-col gap-3 text-base text-gray-900 md:text-lg">
            <li>
                1. Expert accountants who will process your invoices post
                verification
            </li>
            <li>2. Preparation of periodic financial statements</li>
            <li>
                3. Automation of information gathered from above for upgradation
                of systems and processes to generate real time insights from
                financial data
            </li>
        </ul>
        <h3 class="text-violet-500 text-2xl mt-8 font-semibold">Sneak Peek</h3>
        <p class="text-base text-gray-900 mb-4 md:text-lg">
            Our accounting and bookkeeping processes can reduce our clients’
            monthly workload by 20%-30% or more with even greater saving in
            cost. Contact us for a demo on how we can work to:
        </p>
        <section class="text-gray-600 body-font">
            <div
                class="container mb-32 px-5 py-24 relative mx-auto justify-center flex flex-wrap"
            >
                <Picture widths={[1600]} aspectRatio={1920 / 1080} src={arrow} alt="arrow" />
            </div>
        </section>
        <div class="mx-auto grid px-5 grid-cols-3 sm:px-20">
            <div
                class="flex flex-col translate-y-12 items-center border-4 border-r-0 border-b-0 border-fuchsia-400 px-4 py-4 lg:items-start"
            >
                <p class="mt-3 text-purple-600 text-lg font-semibold pb-2">
                    Seamlessly transition accounting and book keeping services
                    to India
                </p>
            </div>
            <div
                class="flex flex-col relative items-center border-4 border-r-0 border-b-0 border-fuchsia-400 px-4 py-4 lg:items-start"
            >
                <div
                    class="arrow-down absolute -left-10 -rotate-45 border-t-blue-600"
                >
                </div>
                <p class="mt-3 text-purple-600 text-lg font-semibold pb-2">
                    Represent the insights generated from these services via
                    real time reports and dashboards
                </p>
            </div>
            <div
                class="flex flex-col -translate-y-12 items-center border-4 border-r-0 border-b-0 border-fuchsia-400 px-4 py-4 lg:items-start"
            >
                <div
                    class="arrow-down absolute -left-10 -rotate-45 border-t-blue-600"
                >
                </div>
                <p class="mt-3 text-purple-600 text-lg font-semibold pb-2">
                    Automate accounting services and integrate them with ERP
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .arrow-down {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        border-top-width: 20px;
        border-top-style: solid;
    }
</style>
