<div
    class="py-12 px-2 flex flex-col justify-center items-center bg-gradient-to-r from-purple-200 to-blue-200 min-h-screen"
>
    <div class="grow h-0 sm:h-32"></div>

    <div
        class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
    >
        <div class="flex flex-col lg:flex-row md:mb-10">
            <div class="lg:w-1/2">
                <h2
                    class="max-w-md font-sans text-3xl font-bold tracking-tight text-violet-900 sm:text-4xl sm:leading-none xl:max-w-lg"
                >
                    Developing Empowered Leaders
                </h2>
            </div>
            <!-- <div class="lg:w-1/2">
                <p class="text-base text-gray-900 md:text-lg">
                    Service Suite: We realize that the transformation will
                    require significant upskilling for the workforce in order to
                    make it successful. In line with this we provide both
                    process and people development trainings.
                </p>
            </div> -->
        </div>
        <h3 class="text-violet-500 text-2xl font-semibold">Service Suite</h3>
        <div class="py-2 mb-12">
            <p class="text-base text-gray-900 md:text-lg">
                We realize that the transformation will require significant
                upskilling for the workforce in order to make it successful. In
                line with this we provide both process and people development
                trainings.
            </p>
        </div>
        <div class="grid gap-8 row-gap-10 sm:grid-cols-2 lg:grid-cols-3"></div>
        <h3 class="text-violet-500 text-2xl my-2 font-semibold">
            Seyom Advantage: Inclusive Growth
        </h3>
        <p class="text-base text-gray-900 mb-4 md:text-lg">
            At each level of the organization we will provide people with and
            train them to be able to draw insights in a way that is most
            relevant to them. In addition we also carry out corporate trainings
            on pertinent business topics that are useful for individuals at
            different levels in the organization.
        </p>
        <h3 class="text-violet-500 text-2xl mt-8 font-semibold">Use Cases</h3>

        <section class="text-purple-600 text-md font-semibold">
            <div
                class="container px-5 py-24 relative mx-auto justify-center flex flex-wrap"
            >
                Our corporate trainings also empower people at all levels of the
                organization
            </div>
        </section>
        <div class="mx-auto grid px-5 grid-cols-3 sm:px-20">
            <div
                class="flex flex-col translate-y-12 items-center border-4 border-r-0 border-b-0 border-fuchsia-400 px-4 py-4 lg:items-start"
            >
                <p class="mt-3 hyphen text-purple-600 text-xs md:text-lg font-semibold pb-2">
                    Onboarding new joiners successfully
                </p>
            </div>
            <div
                class="flex flex-col relative items-center border-4 border-r-0 border-b-0 border-fuchsia-400 px-4 py-4 lg:items-start"
            >
                <div
                    class="arrow-down absolute -left-10 -rotate-45 border-t-blue-600"
                >
                </div>
                <p class="mt-3 hidden md:block hyphen text-purple-600 text-xs md:text-lg font-semibold pb-2">
                    Communication, leadership and other skills for middle
                    management
                </p>
                <p class="md:hidden block mt-3 hyphen text-purple-600 text-xs md:text-lg font-semibold pb-2">
                    Communic-<br>ation, leadership and other skills for middle
                    management
                </p>
            </div>
            <div
                class="flex flex-col -translate-y-12 items-center border-4 border-r-0 border-b-0 border-fuchsia-400 px-4 py-4 lg:items-start"
            >
                <div
                    class="arrow-down absolute -left-10 -rotate-45 border-t-blue-600"
                >
                </div>
                <p class="mt-3 hyphen text-purple-600 text-xs md:text-lg font-semibold pb-2">
                    Finanical modelling and advanced analytics techniques for
                    future CEOS and CFOs
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .arrow-down {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        border-top-width: 20px;
        border-top-style: solid;
    }

    .hyphen {
        hyphens: auto;
    }
</style>
