---
const stack1 = [
    "Advanced Financial modelling",
    "Performance Dashboards",
    "Process Benchmarking",
    "Feasibility Evaluations",
    "Project Management templates",
];

const stack2 = [
    "Data Warehousing",
    "Visualization and Automation",
    "Web Based Apps",
];

import { Picture } from "@astrojs/image/components";
import arrow from "../assets/images/7425.png";
import AnAT from "../assets/images/anat.png";
---

<div
    class="py-12 px-2 flex flex-col justify-center items-center bg-gradient-to-r from-purple-200 to-blue-200 min-h-screen"
>
    <div class="grow h-0 sm:h-32"></div>

    <div
        class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
    >
        <div class="flex flex-col mb-6 lg:flex-row md:mb-10">
            <div class="lg:w-full">
                <h2
                    class="max-w-md mb-6 font-sans text-3xl font-bold tracking-tight text-violet-900 sm:text-4xl sm:leading-none xl:max-w-lg"
                >
                    Business Transformation Solutions
                </h2>
            </div>
        </div>
        <h3 class="text-violet-500 text-2xl font-semibold">Service Suite</h3>
        <div class="py-2">
            <p class="text-base text-gray-900 md:text-lg">
                Full scale digital transfomation of the work, workplace and
                workers to ensure improved process efficiencies and better
                decision making
            </p>
        </div>
        <div class="grid gap-8 row-gap-10 sm:grid-cols-2 lg:grid-cols-2">
            <div>
                <div
                    class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-purple-500 shadow-lg"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-7 h-7 text-white"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18"
                        ></path>
                    </svg>
                </div>
                <h6 class="mb-2 text-violet-800 font-semibold leading-5">
                    Analytics and Insights
                </h6>
                <ul class="mb-4 -ml-1 space-y-2 text-gray-900">
                    {
                        stack1.map((item) => (
                            <li class="flex items-start">
                                <span class="mr-1">
                                    <svg
                                        class="w-5 h-5 mt-px text-deep-purple-accent-400"
                                        stroke="currentColor"
                                        viewBox="0 0 52 52"
                                    >
                                        <polygon
                                            stroke-width="4"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            fill="none"
                                            points="29 13 14 29 25 29 23 39 38 23 27 23"
                                        />
                                    </svg>
                                </span>
                                {item}
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div>
                <div
                    class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-purple-500 shadow-lg"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-7 h-7 text-white"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z"
                        ></path>
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    </svg>
                </div>
                <h6 class="mb-2 font-semibold leading-5 text-violet-800">
                    Process Automation and Improvements
                </h6>
                <ul class="mb-4 text-gray-900 -ml-1 space-y-2">
                    {
                        stack2.map((item) => (
                            <li class="flex items-start">
                                <span class="mr-1">
                                    <svg
                                        class="w-5 h-5 mt-px text-deep-purple-accent-400"
                                        stroke="currentColor"
                                        viewBox="0 0 52 52"
                                    >
                                        <polygon
                                            stroke-width="4"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            fill="none"
                                            points="29 13 14 29 25 29 23 39 38 23 27 23"
                                        />
                                    </svg>
                                </span>
                                {item}
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
        <h3 class="text-violet-500 text-2xl my-2 font-semibold">
            Seyom Advantage: The AnAT framework for Transformation
        </h3>
        <p class="text-gray-900">
            Seyom is a transformation partner that helps organizations achieve
            their goals by leveraging the AnAT framework. AnAT stands for
            Analytics, Automation, and Transformation. We believe that the best
            way to achieve transformation is to leverage the power of data and
            automation to drive transformation. We have a proven track record of
            helping organizations achieve their goals by leveraging the AnAT
            framework.
        </p>
        <div class="flex w-full justify-center mt-4">
            <!-- <div class="flex gap-4">
                <div
                    class="md:w-36 h-16 w-16 shrink-0 md:h-36 bg-blue-500 flex justify-center items-center text-2xl md:text-8xl font-bold text-white"
                >
                    1
                </div>
                <div class="flex flex-col">
                    <h4 class="text-blue-500 text-2xl font-bold">Analyze</h4>
                    <div class="text-xl text-gray-900">
                        Raw data collected for various processes is structured
                        to draw out meaningful insights
                    </div>
                </div>
            </div>
            <div class="flex gap-4">
                <div
                    class="md:w-36 h-16 w-16 md:h-36 shrink-0 bg-fuchsia-500 flex justify-center items-center text-2xl md:text-8xl font-bold text-white"
                >
                    2
                </div>
                <div class="flex flex-col">
                    <h4 class="text-fuchsia-500 text-2xl font-bold">
                        Automate
                    </h4>
                    <div class="text-xl text-gray-900">
                        Insights are used to devise KPIs and then automated to
                        make sure they can be implemented and replicated
                    </div>
                </div>
            </div>
            <div class="flex gap-4">
                <div
                    class="md:w-36 h-16 w-16 md:h-36 shrink-0 bg-violet-500 flex justify-center items-center text-2xl md:text-8xl font-bold text-white"
                >
                    3
                </div>
                <div class="flex flex-col">
                    <h4 class="text-violet-500 text-2xl font-bold">
                        Transform
                    </h4>
                    <div class="text-xl text-gray-900">
                        Users skillsets are upgraded to institionalize these new
                        ways of working leading to sustained impact and eventual
                        transformation
                    </div>
                </div>
            </div> -->
            <Picture
            widths={[600, 1000]}
            sizes="(min-width: 768px) 600px, 600px"
            class="object-cover"
            aspectRatio={1711 / 793}
            src={AnAT}
            alt="AnAT"
        />
        </div>
        <h3 class="text-violet-500 text-2xl mt-8 font-semibold">Use Cases</h3>
        <p class="text-base text-gray-900 mb-4 md:text-lg">
            <ul class="text-base list-disc text-gray-900 md:text-lg">
                <li>
                    Performed structured data analytics across major verticals
                    for our client and defined clear KPIs for each module.
                </li>
                <li>
                    Helped drive performance improvements through root cause
                    analysis of low margin products
                </li>
                <li>
                    Enabled structured use of inventory and other manufacturing
                    data enabling to help with better decision making
                </li>
            </ul>
            <Picture
                widths={[1600]}
                aspectRatio={1920 / 1080}
                src={arrow}
                alt="arrow"
            />
        </p>
    </div>
</div>
