<div
    class="flex justify-center items-center bg-gradient-to-r from-primary to-secondary min-h-screen"
>
    <div class="2xl:text-8xl xl:text-7xl lg:text-6xl md:text-5xl text-2xl  text-neutral">
        <h1 class="inline font-bold">Digital Solutions</h1>
        <h3 class="inline">for</h3>
        <h1 class="italic">New Age Business Processes</h1>
    </div>
</div>
