---
import logo from "../assets/images/logo.png";
import { Image, Picture } from "@astrojs/image/components";
---

<div
    id="nav-section"
    class="shadow-xl py-2 sm:py-0 justify-between z-50 flex w-full items-center bg-gradient-to-r from-blue-100 to-purple-100 fixed md:top-10 md:w-11/12 md:mx-auto rounded pr-6 md:pr-10 md:left-10 md:right-10"
>
    <div class="flex items-center">
        <div class="dropdown">
            <span tabindex="0" class="btn btn-ghost lg:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 stroke-neutral"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"></path>
                </svg>
            </span>
            <ul
                tabindex="0"
                class="font-bold text-2xl menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
            >
                <li>
                    <a href="/business-transformation"
                        >Business Transformation</a
                    >
                </li>
                <li>
                    <a href="/accounting-and-bookkeeping"
                        >Modernized Accounting</a
                    >
                </li>
                <li>
                    <a href="/developing-empowered-leaders">Empowered Leaders</a
                    >
                </li>
                <li><a href="/team">Our Team</a></li>
            </ul>
        </div>
        <a
            href="/"
            class="btn btn-ghost h-fit text-neutral normal-case text-xl"
        >
            <span class="sm:hidden flex font-bold text-2xl">Séyom</span>
            <Picture
                src={logo}
                alt="Logo containing a circle and arrow"
                class="hidden sm:flex"
                widths={[250, 300]}
                sizes="(max-width: 1079px) 250px, 300px"
                dimensions="15:5"
            />
        </a>
    </div>
    <div class="w-full flex justify-end">
        <div class="font-bold text-lg text-neutral hidden lg:flex">
            <ul class="menu gap-3 menu-horizontal p-0">
                <li>
                    <a
                        class="justify-center gap-0 flex 2xl:gap-2 flex-col 2xl:flex-row"
                        href="/business-transformation"
                    >
                        <span>Business</span>
                        <span>Transformation</span>
                    </a>
                </li>
                <li>
                    <a
                        class="justify-center gap-0 flex 2xl:gap-2 flex-col 2xl:flex-row"
                        href="/accounting-and-bookkeeping"
                    >
                        <span>Modernized</span>
                        <span>Accounting</span>
                    </a>
                </li>
                <li>
                    <a
                        class="justify-center gap-0 2xl:gap-2 flex flex-col 2xl:flex-row"
                        href="/developing-empowered-leaders"
                    >
                        <span>Empowered</span>
                        <span>Leaders</span>
                    </a>
                </li>
                <li>
                    <a
                        class="justify-center gap-0 2xl:gap-2 flex flex-col 2xl:flex-row"
                        href="/team"
                    >
                        <span>Our</span>
                        <span>Team</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="ml-2 items-center flex">
            <a
                href="/contact-us"
                class="btn hover:animate-pulse shadow-xl shadow-blue-900/30 w-32 border-purple-500 border-2 bg-gradient-to-r from-accent to-purple-400 text-base-100/80 hover:text-base-100 font-bold"
                >Contact Us</a
            >
        </div>
    </div>
</div>

<script>
    import { gsap } from "gsap";
    let navbar = document.getElementById("nav-section");
    let navOffset = navbar.offsetTop;
    window.addEventListener("scroll", () => {
        if (window.scrollY >= navOffset) {
            gsap.to("#nav-section", {
                y: 0,
                opacity: 1,
                duration: 1,
            });
            navbar.classList.remove("md:left-10");
            navbar.classList.remove("md:right-10");
            navbar.classList.remove("md:w-11/12");
            navbar.classList.remove("md:mx-auto");
            navbar.classList.remove("md:top-10");
        } else {
            gsap.to("#nav-section", {
                y: -100,
                opacity: 0,
                duration: 1,
            });
        }
    });
    // display #nav-section when mouse hovered to top of the page
    window.addEventListener("mousemove", (e) => {
        if (e.clientY <= 100) {
            gsap.to("#nav-section", {
                y: 0,
                opacity: 1,
                duration: 1,
            });
        }
    });
</script>
