---
const our_promise = [
    "Significant Cost Saving",
    "Increased Efficiencies",
    "Inclusive Growth",
];
import { Picture } from "@astrojs/image/components";
import Heading from "./Heading.astro";
import promise from "../assets/images/handshake.jpg";
---

<section
    class="flex justify-center items-center min-h-screen bg-gradient-to-r from-purple-200 to-blue-200 py-10 text-gray-800"
>
    <div class="w-full flex flex-col items-center">
        <div class="w-full flex justify-center">
            <!-- <h2 class="text-center text-violet-900 text-3xl font-extrabold">
                Our Promise To You
            </h2> -->
            <!-- <svg id="anim-on-enter" class="hidden" viewBox="0 0 2000 300">
                <text
                    class="fill-violet-900"
                    x="50%"
                    y="50%"
                    dy=".35em"
                    text-anchor="middle"
                >
                    our promise to you
                </text>
            </svg> -->
            <Heading id="promisehead" title="Our Promise To You" />
        </div>

        <div
            class="max-w-7xl grid mt-4 md:grid-cols-2 grid-cols-1 justify-around"
        >
            <div class="flex justify-center p-4 flex-col">
                <span class="text-2xl lg:text-3xl xl:text-4xl" id="type-it"></span>
            </div>
            <div class="p-4 hidden md:flex">
                <Picture
                    class="hidden md:flex"
                    src={promise}
                    alt="handshake"
                    aspectRatio="6:4"
                    widths={[500, 1000]}
                    sizes="(max-width: 1079px) 500px, 1000px"
                    formats={["webp", "avif"]}
                    
                />
            </div>
        </div>
    </div>
</section>

<!-- <style>
    svg {
        font-weight: 700;
    }
    svg text {
        text-transform: uppercase;
        animation: stroke 3s forwards alternate;
        stroke-width: 2;
        stroke: #365fa0;
        font-size: 120px;
    }
    @keyframes stroke {
        0% {
            fill: rgba(72, 138, 20, 0);
            stroke: rgba(54, 95, 160, 1);
            stroke-dashoffset: 25%;
            stroke-dasharray: 0 50%;
            stroke-width: 2;
        }
        70% {
            fill: rgba(72, 138, 20, 0);
            stroke: rgba(54, 95, 160, 1);
        }
        80% {
            fill: rgba(72, 138, 20, 0);
            stroke: rgba(54, 95, 160, 1);
            stroke-width: 3;
        }
        100% {
            stroke-dashoffset: -25%;
            stroke-dasharray: 50% 0;
            stroke-width: 0;
        }
    }
</style> -->

<script>
    import { gsap } from "gsap";
    import TypeIt from "typeit";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    const divi = 2;

    // fade-in #promisehead on scroll
    gsap.from("#promisehead", {
        scrollTrigger: {
            trigger: "#promisehead",
            start: "top 80%",
            end: "bottom 20%",
            toggleActions: "play none none none",
        },
        opacity: 0,
        duration: 1,
        y: 50,
        onComplete: () => {
            new TypeIt("#type-it", {
                lifeLike: false,
                speed: 0,
            })
                .delete(7, { instant: true })
                .type("✅")
                .pause(168 / divi)
                .type(" ")
                .pause(504 / divi)
                .type("S")
                .pause(224 / divi)
                .type("i")
                .pause(518 / divi)
                .type("g")
                .pause(196 / divi)
                .type("n")
                .pause(784 / divi)
                .type("i")
                .pause(168 / divi)
                .type("c")
                .pause(392 / divi)
                .delete(1)
                .pause(98 / divi)
                .type("f")
                .pause(112 / divi)
                .type("i")
                .pause(126 / divi)
                .type("c")
                .pause(112 / divi)
                .type("a")
                .pause(252 / divi)
                .type("n")
                .pause(1134 / divi)
                .type("t")
                .pause(84 / divi)
                .type(" ")
                .pause(280 / divi)
                .type("C")
                .pause(112 / divi)
                .type("o")
                .pause(266 / divi)
                .type("s")
                .pause(112 / divi)
                .type("t")
                .pause(98 / divi)
                .type(" ")
                .pause(252 / divi)
                .type("S")
                .pause(98 / divi)
                .type("a")
                .pause(168 / divi)
                .type("v")
                .pause(112 / divi)
                .type("i")
                .pause(196 / divi)
                .type("n")
                .pause(70 / divi)
                .type("g")
                .pause(940 / divi)
                .break()
                .pause(379 / divi)
                .break()
                .pause(1400 / divi)
                .type("✅")
                .pause(615 / divi)
                .type(" ")
                .pause(560 / divi)
                .type("I")
                .pause(224 / divi)
                .type("n")
                .pause(112 / divi)
                .type("c")
                .pause(294 / divi)
                .type("r")
                .pause(98 / divi)
                .type("e")
                .pause(211 / divi)
                .type("a")
                .pause(195 / divi)
                .type("s")
                .pause(182 / divi)
                .type("e")
                .pause(210 / divi)
                .type("d")
                .pause(98 / divi)
                .type(" ")
                .pause(182 / divi)
                .type("E")
                .pause(196 / divi)
                .type("f")
                .pause(182 / divi)
                .type("f")
                .pause(140 / divi)
                .type("i")
                .pause(603 / divi)
                .type("c")
                .pause(182 / divi)
                .type("i")
                .pause(140 / divi)
                .type("e")
                .pause(224 / divi)
                .type("n")
                .pause(140 / divi)
                .type("c")
                .pause(280 / divi)
                .type("i")
                .pause(98 / divi)
                .type("e")
                .pause(98 / divi)
                .type("s")
                .pause(338 / divi)
                .break()
                .pause(210 / divi)
                .break()
                .pause(799 / divi)
                .type("✅")
                .pause(419 / divi)
                .type(" ")
                .pause(252 / divi)
                .type("I")
                .pause(238 / divi)
                .type("n")
                .pause(434 / divi)
                .type("c")
                .pause(99 / divi)
                .type("l")
                .pause(224 / divi)
                .type("i")
                .pause(14 / divi)
                .type("u")
                .pause(420 / divi)
                .delete(1)
                .pause(224 / divi)
                .delete(1)
                .pause(378 / divi)
                .type("u")
                .pause(196 / divi)
                .type("s")
                .pause(112 / divi)
                .type("i")
                .pause(182 / divi)
                .type("v")
                .pause(126 / divi)
                .type("e")
                .pause(127 / divi)
                .type(" ")
                .pause(210 / divi)
                .type("G")
                .pause(182 / divi)
                .type("r")
                .pause(71 / divi)
                .type("o")
                .pause(211 / divi)
                .type("w")
                .pause(238 / divi)
                .type("t")
                .pause(70 / divi)
                .type("h")
                .go();
        },
    });
</script>
