---
const our_promise = [
    "Significant Cost Saving",
    "Increased Efficiencies",
    "Inclusive Growth",
];
import { Image } from "@astrojs/image/components";
import promise from "../assets/images/undraw_pitching_re_fpgk.svg";
---

<section
    class="flex justify-center items-center min-h-screen bg-gradient-to-r from-purple-200 to-blue-200 py-10 text-gray-800"
>
    <div class="w-full">
        <div class="w-full">
            <!-- <h2 class="text-center text-violet-900 text-3xl font-extrabold">
                Our Promise To You
            </h2> -->
            <svg id="anim-on-enter" class="hidden" viewBox="0 0 2000 300">
                <text
                    class="fill-violet-900"
                    x="50%"
                    y="50%"
                    dy=".35em"
                    text-anchor="middle"
                >
                    our promise to you
                </text>
            </svg>
        </div>

        <div class="flex justify-around">
            <div class="flex flex-col">
                <div class="w-full p-4 text-left">
                    <hr id="hr1" class="mb-4 h-1.5 bg-purple-600" />
                    <h3
                        id="h31"
                        class="font-sans text-4xl font-light leading-10"
                    >
                        {our_promise[0]}
                    </h3>
                </div>
                <div class="w-full p-4 text-left">
                    <hr id="hr2" class="mb-4 h-1.5 bg-purple-600" />
                    <h3
                        id="h32"
                        class="font-sans text-4xl font-light leading-10"
                    >
                        {our_promise[1]}
                    </h3>
                </div>
                <div class="w-full p-4 text-left">
                    <hr id="hr3" class="mb-4 h-1.5 bg-purple-600" />
                    <h3
                        id="h33"
                        class="font-sans co text-4xl font-light leading-10"
                    >
                        {our_promise[2]}
                    </h3>
                </div>
            </div>

            <img alt="Promise" height="200px" src={promise} class="hidden md:flex" />
        </div>
    </div>
</section>

<style>
    svg {
        font-weight: 700;
    }
    svg text {
        text-transform: uppercase;
        animation: stroke 3s forwards alternate;
        stroke-width: 2;
        stroke: #365fa0;
        font-size: 120px;
    }
    @keyframes stroke {
        0% {
            fill: rgba(72, 138, 20, 0);
            stroke: rgba(54, 95, 160, 1);
            stroke-dashoffset: 25%;
            stroke-dasharray: 0 50%;
            stroke-width: 2;
        }
        70% {
            fill: rgba(72, 138, 20, 0);
            stroke: rgba(54, 95, 160, 1);
        }
        80% {
            fill: rgba(72, 138, 20, 0);
            stroke: rgba(54, 95, 160, 1);
            stroke-width: 3;
        }
        100% {
            stroke-dashoffset: -25%;
            stroke-dasharray: 50% 0;
            stroke-width: 0;
        }
    }
</style>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    // remove hidden class when #anim-on-enter is in view
    gsap.to("#anim-on-enter", {
        scrollTrigger: {
            trigger: "#anim-on-enter",
            start: "top 80%",
            end: "bottom 20%",
            toggleActions: "play none none none",
        },
        duration: 0.1,
        opacity: 1,
        onComplete: () => {
            document.getElementById("anim-on-enter").classList.remove("hidden");
        },
    });
    let timeline = gsap.timeline();
    // grow #hr1, #hr2, #hr3 on scroll
    timeline
        .from("#hr1", {
            scrollTrigger: {
                trigger: "#hr1",
                start: "top 80%",
                end: "bottom 50%",
                toggleActions: "play none none none",
                scrub: true,
            },
            duration: 1,
            width: 0,
        })
        .from("#hr2", {
            scrollTrigger: {
                trigger: "#hr2",
                start: "top 80%",
                end: "bottom 50%",
                toggleActions: "play none none none",
                scrub: true,
            },
            duration: 1,
            width: 0,
        })
        .from("#hr3", {
            scrollTrigger: {
                trigger: "#hr3",
                start: "top 80%",
                end: "bottom 50%",
                toggleActions: "play none none none",
                scrub: true,
            },
            duration: 1,
            width: 0,
        })
        // fade in #h31, #h32, #h33 on scroll
        .from("#h31", {
            scrollTrigger: {
                trigger: "#h31",
                start: "top 80%",
                end: "bottom 50%",
                toggleActions: "play none none none",
                scrub: true,
            },
            duration: 1,
            opacity: 0,
        })
        .from("#h32", {
            scrollTrigger: {
                trigger: "#h32",
                start: "top 80%",
                end: "bottom 50%",
                toggleActions: "play none none none",
                scrub: true,
            },
            duration: 1,
            opacity: 0,
        })
        .from("#h33", {
            scrollTrigger: {
                trigger: "#h33",
                start: "top 80%",
                end: "bottom 50%",
                toggleActions: "play none none none",
                scrub: true,
            },
            duration: 1,
            opacity: 0,
        })
        // play animation: stroke 3s forwards alternate; on scroll
        .from("#anim-on-enter text", {
            scrollTrigger: {
                trigger: "#anim-on-enter",
                start: "top 80%",
                end: "bottom 20%",
                toggleActions: "play none none none",
                scrub: true,
            },
            duration: 3,
            opacity: 0,
        });
</script>
