---
import Features from "./Features.astro";
import Heading from "./Heading.astro";
---

<div
    class="flex px-4 lg:px-8 flex-col justify-center items-center bg-gradient-to-r from-purple-200 to-blue-200 min-h-screen"
>
    <Heading id="what-we-do-head" title="What We Do" />
    <div
        id="what-we-do-para"
        class="flex text-center flex-col lg:flex-row gap-16 lg:gap-0 text-lg px-12 pt-2 lg:text-xl justify-around w-full"
    >
        <p class="text-base-200">
            We offer a suite of automation services across industries and
            functions that help organizations draw out insights from data and
            use it for faster and more effective decision making.
        </p>
    </div>
    <Features />
</div>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    gsap.from("#what-we-do-head", {
        scrollTrigger: {
            trigger: "#what-we-do-head",
            start: "top 80%",
            end: "bottom 20%",
            scrub: true,
        },
        y: 100,
        opacity: 0,
        duration: 1,
    });
    gsap.from("#what-we-do-para", {
        scrollTrigger: {
            trigger: "#what-we-do-para",
            start: "top 90%",
            end: "bottom 50%",
            scrub: true,
        },
        y: 100,
        opacity: 0,
        duration: 1,
    });
</script>
